<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.study.kotlin.goods">


	<application>

		<activity android:name=".ui.activity.GoodsListActivity"/>
		<activity android:name=".ui.activity.SearchGoodsActivity"/>
		<activity android:name=".ui.activity.GoodsDetailActivity"/>
		<activity android:name=".ui.activity.CartListActivity"/>

	</application>

</manifest>
